@model BookReading.Models.BookEventModel

<div class="row">
    <div class="col-md-4">
        <form  asp-controller="BookEvent"  asp-action="Comments" asp-route-id=@Model.Title  >

            <div class="form-group">

                <input name="Comment" data-val="true" type="text" required placeholder="Add a comment...." value="" id="Comment"   class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

