@model IEnumerable<BookReading.Models.BookEventModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row mb-3">
    <div class="p-2 flex-fill">
        <table class="table  table-hover">
            <thead class="table-secondary head">
                <tr>
                    <th scope="col" class="c1" >Past Events</th>
                </tr>
            </thead>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        if (item.Type == 0)
                        {
                            <tr class="c1">
                                @{
                                    DateTime bt = Convert.ToDateTime(item.Date.ToString("dd-MM-yyyy") + " " + item.StartTime.ToString("HH:mm:ss"));


                                    if (bt < DateTime.Now)
                                    {

                                        <td >

                                            <a asp-controller="BookEvent" asp-action="Details" asp-route-id=@item.Title>@item.Title</a>
                                        </td>


                                    }
                                }


                            </tr>
                        }

                    }
                }


            </tbody>
        </table>
    </div>
    <div class="p-2 flex-fill">
        <table class="table table-hover ">
            <thead class="table-secondary head">
                <tr>
                    <th scope="col" class="c1">Upcoming Events</th>
                </tr>
            </thead>
            <tbody>

                @{

                    foreach (var item in Model)
                    {
                        if (item.Type == 0)
                        {
                            <tr class="c1">
                                @{
                                    DateTime bt = Convert.ToDateTime(item.Date.ToString("dd-MM-yyyy") + " " + item.StartTime.ToString("HH:mm:ss"));


                                    if (bt > DateTime.Now)
                                    {

                                        <td>

                                            <a asp-controller="BookEvent" asp-action="Details" asp-route-id=@item.Title>@item.Title</a>
                                        </td>


                                    }
                                }


                            </tr>
                        }

                    }
                }

            </tbody>
        </table>
    </div>
</div>





















