.main
{
    height: 79vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    
}
.book-body
{
    /* border: 3px solid blue; */
    height:70vh;
    width: 90%;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
}


.booking-img
{
    /* border: 1px solid red; */
    margin: .5rem;
    width: 30%;
}
.booking-details
{
    
    width: 60%;
    /* margin: .5rem; */
    
}
.back-btn
{
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    /* height: 5vh; */

}
.camp-img
{
    height:55vh;
    object-fit: cover;
    border: 4px soild green;
    width: 100%;
}
.max-person
{
    height: 10vh;
    display: flex;
    justify-content: center;
    padding-top: 1rem; 
    color: rgb(109, 109, 109);
    
}
.details
{
    height:55vh;
    margin: .5rem;
}
.camp-description
{
    margin: 0;
}
.camp-price
{
    margin-top: .5rem;
    margin-bottom: .2rem;
    text-decoration: underline;
    color:rgb(109, 109, 109) ;
}
.camp-price1
{

    text-decoration: underline;
    color:rgb(109, 109, 109) ;
}
.billing-form
{
    display: flex;
    justify-content: space-between;
    height: 28vh;
}
.child1
{
    width: 45%;
}
.child2
{
    width: 45%;
}
.ip
{

    width: 60%;
}
.ipt
{
 
    width: 70%;
}

.input-box
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.input-box1
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}
.error-block
{
    border: red;
    color: red;
    font-size: small;
    padding: 0;
    margin:0;

}

.bill-details
{
    color:rgb(109, 109, 109) ;
}
.bill
{
    display: flex;
    justify-content: space-around;

}
.bill-btn
{
    display: flex;
    justify-content: center;
}
.btn1
{
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.apply
{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}