@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins',sans-serif !important;
    background-color: #00ac96 !important;
}

.content {
    margin: 8% !important;
    background-color: #fff !important;
    padding: 1rem 1rem 1rem 1rem !important;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05) !important;
}

.signin-text {
    font-style: normal !important;
    font-weight: 600 !important;
}

.form-control {
    display: block !important;
    width: 100% !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border-color: #00ac96 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #495057 !important;
    height: auto !important;
    border-radius: 0 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
}

.input1 {
    margin-bottom: 15px !important;
}

.form-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #00ac96 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.birthday-section {
    /* padding: 15px !important; */
}

.btn-class {
    margin-top: 15px;
    border-color: #00ac96 !important;
    color: #00ac96 !important;
}

    .btn-class:hover {
        background-color: #00ac96 !important;
    }
