.c1 {
    border: 2px solid #9dc209 !important;
}
.head {
    color: white;
    background-color: #9dc209 !important;
    border: 2px solid #9dc209 !important;
}

.c2 {
    border-bottom: 2px solid #9dc209 !important;
}
